.main{
    margin: 0 150px;
    z-index: 1;
}
.section{
    display: flex;
    flex-direction: column;
    height: 110vh;
}
.landing{
    position: absolute;
    top: 180px;
    z-index: 1;
    display: flex;
}
.sectionContent{
    display: flex;
}
.sectionText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
}
.sectionText h1{
    font-size: 60px;
    font-weight: 800;
    color: #121755;
    margin-bottom: 40px;
}
.orange{
    color: #F5AD59;
}
.sectionText p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}
.sectionImage{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* width: 50%; */
    /* position: relative; */
    /* margin-top: 500px; */
}
.phone{
    display: flex;
    position: absolute;
    z-index: 1;
    /* top: 0px; */
    left: 460px;
    flex-direction: row-reverse;
}
.iPhone1{
    z-index: 1;
    top: 0px;
    width: 600px;
    height: 600px;
    animation-name: phone1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes phone1 {
    0% {transform: translateY(-10px);}
    100%{transform: translateY(40px);}
}
.iPhone2{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 200px;
    height: 320px;
    transform: skewY(-10deg) rotate(2.12deg) translate(120%, 10%);
    animation-name: phone2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes phone2 {
    0% {top: 50px;}
    100%{top: 150px;}
}
.coins{
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    perspective: 100px;
}
.dollarCoin1, .dollarCoin2, .dollarCoin3{
    position: absolute;
    width: 100px;
    height: 100px;
}
.dollarCoin1{
    top: 250px;
    left: 120px;
    width: 150px;
    height: 150px;
    animation-name: coin1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes coin1 {
    0% {transform: translateY(0px) translateZ(0px)}
    100%{transform: translateY(20px) translateZ(10px)}
}
.dollarCoin2{
    top: -65px;
    left: 350px;
    width: 120px;
    height: 140px;
    transform: skewY(50deg) rotate(30deg) translate(100%, 10%);
    animation-name: coin2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes coin2 {
    0% {transform: translateY(20px) rotate(15deg)}
    100%{transform: translateY(150px) rotate(-20deg)}
}
.dollarCoin3{
    width: 70px;
    height: 70px;
    top: 300px;
    left: 460px;
    animation-name: coin3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes coin3 {
    
    0% {top:350px; transform: translateZ(3px)}
    100%{top:400px; transform: translateZ(7px)}
}
.backToTop{
    position: fixed;
    top: 630px;
    left: 1270px;
}
.backToTop p{
    align-self: flex-end;
    padding: 2px 15px;
    background-color: #F5AD59;
    color: white;
    font-size: 30px;
    border-radius: 10px;

}


/* Section 2 styles */
.section2{
    margin: 300px auto;
}
.container2{
    background-color: hsl(237, 18%, 21%);
    border-radius: 20px;
    height: 73vh;
    display: flex;
}
.swirls{
    position: relative;
    width: 100%;
    height: 73vh;
}
.swirl1{
    position: absolute;
    top: -7.6%;
    left: -3.1%;
    width: 120px;
    height: 120px;
}
.swirl2{
    position: absolute;
    top: -16%;;
    left: 46%;
    width: 150px;
    height: 150px;
}
.swirl3{
    position: absolute;
    top: 25%;
    left: 92.8%;
    width: 120px;
    height: 120px;
}
.swirl4{
    position: absolute;
    top: 78%;
    left: 84.5%;
    width: 180px;
    height: 180px;
}
.swirl5{
    position: absolute;
    top: 89%;
    left: 42%;
    width: 110px;
    height: 110px;
}
.content{
    display: flex;
    position: absolute;
    width: 70%;
    margin: 40px 85px;
}
.saly{
    width: 400px;
    height: 400px;
    align-self: flex-start;
    animation-name: phone1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes phone1 {
    0% {transform: translateY(-80px);}
    100%{transform: translateY(-60px);}
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 60px;
}
.text .h2, .p{
    color: white;    
}
.h2{
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;

}
.text .p{
   font-size: 16px;
   margin-bottom: 20px;
}

/* Section 3 */
.section{
    height: 85vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}
.h2{
    font-size: 2rem;
    color: #121755;
    font-weight: 800;
    margin-bottom: 50px;
}
.captions{
    width: 40%;
    height: 100%;
}
.captionContainer{
    display: flex;
}
.linewrap{
    display: flex;
    flex-direction: column;
}
.line{
    height: 11vh;
    width: 1%;
    border-left: 0.1rem dashed grey;
    margin: 0 0 8px 10px; 
}
.circle{
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #FDFDFD,
    #D6D6D6);
    color: #637381;
    width: 15px;
    height: 15px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px -5px;
}
.caption{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 18.5vh;
    width: 75%;
    border: 1px solid red;
}
.text{
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}
.h3{
    font-size: 20px;
    font-weight: 500;
}
.p{
    font-size: 14px;
    padding-top: 10px;
}
.images{
    width: 40%;
    height: 100%;  
    position: absolute;
    top: -5%;
    left: 45%;
    perspective: 200px;
}
.img{
    width: 600px;
    height: 430px;
    position: absolute;
    transform: translateZ(6px)
}
.phone1{
    /* top: */
    z-index: 3;
    transform: translateZ(10px);
}
.phone2{
    z-index: 2;
    top: 9%;
    transform: translateZ(-10px);
    opacity: 0.9;
}
.phone3{
    z-index: 1;
    top: 19%;
    transform: translateZ(-30px);
    opacity: 0.6;
}
.imgFocus{
    z-index: 3;
    top: 0%;
}

/* Animation Classes */
.cricle_animate{
    background-image: linear-gradient(to bottom,#F5AD59, #D97136);
    filter: drop-shadow(0px, 10px,rgba(245, 155, 49, 0.33));
}
/* .text_animate, .text:hover{
    opacity: 1;
    background-color: #F4F5FA;
    border-radius: 20px;
    padding: 50px;
    padding: 30px 30px 90px 30px;
} */
/* .h3_animate, .h3:hover{
    color: #222769;
} */
.p_animate, .p:hover{
    color: 18px;
}
/* .caption_animate, .caption:hover{
    height: 75px;
} */
.caption_animate2{
    height: 79px;
}

/* ---------------------Media Queries-------------------- */
@media screen and (min-width: 280px) {
    .main{
        margin: 0;
        padding: 150px 10px;
        /* overflow: hidden; */
    }
    .phone, .iPhone1, .landing, .dollarCoin1, .dollarCoin2, .dollarCoin3{
        position: static;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }
    .sectionContent{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .sectionText h1{
        position: absolute;
        top: 24%;
        font-size: 31px;
    }
    .sectionText p{
        text-align: center;
    }
    .sectionImage{
        margin: -30px 0 10px -150px;
        justify-content: center;
        align-items: center;
    }
    .iPhone1{
        z-index: 1;
        width: 400px;
        height: 400px;
    }
    @keyframes phone1 {
        0% {transform: translateY(20px);}
        100%{transform: translateY(40px);}
    }
    .iPhone2{
        width: 150px;
        height: 200px;
        transform: skewY(0deg) rotate(-8.12deg) translate(-20%, 30%);
    }
    @keyframes phone2 {
        0% {top: 180px;}
        100%{top: 260px;}
    }
    .dollarCoin1, .dollarCoin2, .dollarCoin3{
        width: 70px;
        height: 70px;
        position: relative;
    }
    .dollarCoin1{
        top: 150px;
        left: 35px;
        /* animation-name: dollar; */
    }
    .dollarCoin2{
        top: -200px;
        left: 90px;
        /* animation-name: dollar; */
    }
    .dollarCoin3{
        top: 200px;
        left: 100px;
        /* animation-name: dollar; */
    }
    @keyframes coin1 {
        0% {transform: translateY(0px) translateZ(-10px)}
        100%{transform: translateY(0px) translateZ(5px)}
    }
    @keyframes coin2 {
        0% {transform: translateY(120px) rotate(15deg)}
        100%{transform: translateY(190px) rotate(-25deg)}
    }
    @keyframes coin3 {
        0% {top:140px; transform: translateZ(-3px)}
        100%{top:200px; transform: translateZ(2px)}
    }
}